.techIconGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.techIconGroup:hover {
    transform: scale(1.1);
}

.techLabel {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.techIconGroup:hover .techLabel {
    opacity: 1;
}